%h1 Quest repository
%p Find me in app/views/quests/index.html.haml
%p public trueになっているもののみを表示するページ
%p 自身が作成したクエスト及び挑戦中のクエストはchallenge indexに表示する？

- @quests.each do |quest|
  %div{class: "quest_#{quest.id}"}
  - if public_quest?(quest)
    = quest.title
    = link_to "詳細", quest_path(quest)
    - if quest && current_user_owned?(quest)
      = link_to "編集する", edit_quest_path(quest)
      - if !public_quest?(quest)
        = link_to "削除する", quest_path(quest), method: :delete
