- content_for(:title, "クエスト詳細")
.container
  .center-block
    .card.text-center.border-secondary.col-md-6.mx-auto
      .card-header.px-3.pt-3.pb-0
        %h5.mb-2
          = @quest.title
        - @quest.tags.each do |tag|
          = link_to "##{tag.name}", quests_path(search: "##{tag.name}"), class: "text-success link-dark mx-2"
      .card-body
        .card-title.mb-3
          - if !(@quest.describe.blank?)
            = @quest.describe
          - else
            %p.text-secondary 詳細なし
        .card-text.text-secondary.border-top
          %p.mb-0
            = "難易度: #{@quest.difficulty}"
          - if public_quest?(@quest)
            %p.mb-0 クエスト公開中
          - else
            %p.mb-0 クエスト非公開
          .row.justify-content-center
            - if @quest && current_user_owned?(@quest)
              = link_to "編集", edit_quest_path(@quest), class: "btn btn-outline-success my-1 my-sm-0 col-5"
            - if (public_quest?(@quest) && !current_user_owned?(@quest) && is_not_own_challenge?(@quest)) || (current_user_owned?(@quest) && is_not_own_challenge?(@quest))
              = form_with model: @challenge, url: challenges_path(@challenge), class: "p-0 mx-3 col-5" do |f|
                = f.hidden_field :quest_id, value: @quest.id
                .actions
                = f.submit "挑戦",class: "btn btn-outline-success my-1 my-sm-0 w-100"
      .card-footer
        = link_to "トークルームへ", quest_room_path(@quest, @room), data: {"turbolinks": false}, class: "btn btn-outline-secondary my-1 my-sm-0 col-12"
