.container
  .center-block
    %p クエスト
    = @quest.title
    - if !(@quest.describe.blank?)
      %p クエスト詳細
      = @quest.describe
    %p 難易度
    = @quest.difficulty
    %p 経験値
    = @quest.xp
    ポイント
    - if public_quest?(@quest)
      %p このクエストは公開されています。
    - else
      %p このクエストは公開されていません。
    - if @quest && current_user_owned?(@quest)
      = link_to "編集する", edit_quest_path(@quest)
    - if (public_quest?(@quest) && !current_user_owned?(@quest) && is_not_own_challenge?) || (current_user_owned?(@quest) && is_not_own_challenge?)
      = form_with(model: @challenge, url: challenges_path(@challenge)) do |f|
        = f.hidden_field :quest_id, value: @quest.id
        .actions
        = f.submit "挑戦する", class: "btn btn-primary"
    = link_to "挑戦リストに戻る", challenges_path
