%h1 Challenges#index
%p Find me in app/views/challenges/index.html.haml
%p 自分が作成したクエストは自動で挑戦中になる。
%p 他のユーザーが作成したクエストに挑戦したものも表示される
- if @challenges.empty?
  %p 挑戦中のクエストがありません
- @challenges.each do |challenge|
  %div{class: "challenge_#{challenge.id}"}
    - if challenge.quest == nil
      %div 作成者によってクエストが削除されました。
      = link_to "リストから削除する", challenge_path(challenge), method: :delete
    - else
      = challenge.quest.title
      - if !current_user_owned?(challenge.quest) && !public_quest?(challenge.quest)
        %span{class: "bg-secondary text-white"} 非公開クエスト
      - else
        = link_to "詳細", quest_path(challenge.quest)
      = form_with(model: challenge, url: challenge_path(challenge)) do |f|
        = f.hidden_field :quest_id, value: challenge.quest.id
        = f.hidden_field :close, value: true
        .actions
        = f.submit "達成", class: "btn btn-primary", id: "close_challenge_#{challenge.id}"
      = link_to "諦める", challenge_path(challenge), method: :delete
